/* 
Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-weight: var(--wgt-text);
  font-size: var(--main-font-size);
  background-color: grey;
  background-image: var(--gradient-background);
  background-attachment: fixed;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.header {
  display: flex;
  width: var(--block-width);
  height: var(--block-height);
  margin: 100px auto;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 2px solid black;
  flex-direction: column;
  gap: 20px;
}

.header__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__text {
  text-transform: uppercase;
  font-size: 23px;
  font-family: var(--accent-font);
}

.header__title {
  font-size: 65px;
}

.card__wrap {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  border: 2px solid black;
  background-color: #ffffff;
  position: relative;
}

.image__wrap {
  position: relative;
  height: 696px;
  border-block-start: 2px solid black;
  border-block-end: 2px solid black;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  -webkit-text-stroke: 1px white;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  font-size: var(--button-font-size);
}

.card__title {
  font-weight: var(--wgt-accent);
  font-size: var(--main-font-size);
  padding: 4px 10px;
}

.card__desc {
  margin: 25px;
  margin-bottom: 0;
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.card__wrap .card__like-button {
  align-self: flex-end;
}

.card__icon-button {
  border: none;
  background-color: transparent;
  margin-right: 12px;
  padding: 0;
}

.buttons__wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card__like-button {
  font-family: var(--accent-font);
  font-size: var(--button-font-size);
  padding: 12.5px 35px;
  background-color: transparent;
  border: 2px solid black;
  margin: 25px 25px 25px 0px;
  width: max-content;
}

.button__save {
  background-color: transparent;
  font-family: var(--accent-font);
  font-size: var(--button-font-size);
  border: none;
}
.bottom__button-wrap {
  display: flex;
  background-color: #ffffff;
  border: 2px solid black;
  padding: 14px 10px;
}

.bottom__button-wrap .card__icon-button {
  margin-right: 0;
  margin-left: 8px;
}

.button__pic {
  height: 21px;
}

.card__pic {
  height: 28px;
  width: 21px;
  position: absolute;
  bottom: 32px;
  align-self: self-end;
  right: 170px;
}