/* 
Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

@supports not (text-stroke: 1px)
{
  .card__label {
    -webkit-text-stroke: none;
    text-stroke: none;
    text-shadow: 1px 1px 0px white, 
     -1px -1px 0px white, 
      1px -1px 0px white, 
      -1px 1px 0px white;
  }
}
@supports not (-webkit-text-stroke: 1px) {
  .card__label {
    -webkit-text-stroke: none;
    text-stroke: none;
    text-shadow: 1px 1px 0px white,
     -1px -1px 0px white,
      1px -1px 0px white,
      -1px 1px 0px white;
  }
}
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--wgt-text);
  font-size: var(--main-font-size);
  background-color: grey;
  background-image: var(--gradient-background);
  background-attachment: fixed;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.header {
  display: flex;
  width: var(--block-width);
  margin: 100px auto;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 2px solid black;
  flex-direction: column;
  gap: 20px;
  padding: 127px 122.5px;
}

.header__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__text {
  text-transform: uppercase;
  font-size: var(--dinamic-font-text);
  font-family: var(--accent-font);
}

.header__title {
  font-size: var(--dinamic-font-title);
}

.card__wrap {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  border: 2px solid black;
  background-color: #ffffff;
  position: relative;
}

.image__wrap {
  position: relative;
  height: 100%;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  -webkit-text-stroke: 1px white;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  font-size: var(--button-font-size);
}

.card__title {
  font-variation-settings: 'wght' var(--wgt-accent);
  font-size: var(--main-font-size);
  padding: 4px 10px;
}

.card__desc {
  margin: 25px;
  margin-bottom: 0;
  display: flex;
  gap: 26px;
  flex-direction: column;
}

.card__wrap .card__like-button {
  align-self: flex-end;
}
/* qsdasdasdasdasdasdasdasdasdasdasdasdasda */

.like-icon img {
  transition: content 150ms ease;
}

.is-liked img{
  content: url('../svg/heart-hold-final.svg');
}

.like-icon:hover img {
  animation: heartHoverAnimation  0.5s steps(1) forwards;
}

/* .like-icon:not(:hover) img {
  content: url('../svg/heart-initial.svg');
} */

.like-icon:active img {
  animation: heartHoldAnimation 1s steps(6) forwards;
}



/* asdasdasdasdasdasdasdasdasdasdasdasdasda */

.card__icon-button {
  border: none;
  background-color: transparent;
  display: flex;
  width: 27px;
  height: 24px;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}


.buttons__wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.card__like-button {
  padding: 10px 35px;
  width: 130px;
  height: 38px;
  margin: 25px 25px 25px 0px;
  border: 2px solid black;
}

.disket__button {
  border: none;
}

.card__like-button, .card__disket-button {
  font-family: var(--accent-font);
  font-size: var(--button-font-size);
  background-color: white;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-wrap .card__disket-button {width: 293px;padding: 12.5px 0;align-self: center;/* margin-bottom: 30px; */}

.card__disket-button::before, .card__like-button::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%); /* Начинаем с полного смещения влево */
  transition: transform 0.5s ease-in-out; /* Параметры перехода */
}

.card__disket-button:hover::before, .card__like-button:hover::before {
  transform: translateX(0); /* При наведении перемещаем псевдоэлемент в исходное положение */
}

.button__text {
  color: white; /* Цвет текста */
  mix-blend-mode: difference; /* Режим смешивания */
  position: relative; /* Относительное позиционирование */
  z-index: 1; /* Убедимся, что текст выше псевдоэлемента */
}

/* .card__icon-button:focus {
  outline: 2px solid black;
} */

.card__disket-button:focus, .card__like-button:focus {
  outline: transparent;
  background-color: #ffffff;
  color: black;
  box-shadow: 2px 2px 0px black;
}

.button__save {
  background-color: transparent;
  font-family: var(--accent-font);
  font-size: var(--button-font-size);
  border: none;
  position: relative;
}

.bottom__button-wrap {
  display: flex;
  background-color: #ffffff;
  border: 2px solid black;
  padding: 13px 10px;
}

.card__button {
  border: none;
  background: transparent;
}

.bottom__button-wrap .card__icon-button {
  margin-right: 0;
  margin-left: 7px;
}

.button__pic {
  height: 21px;
}

.card__pic {
  height: 28px;
  width: 21px;
  position: absolute;
  bottom: 32px;
  align-self: self-end;
  right: 170px;
}
/* qweqweqweqweqweqweqweqweqweqweqweqwe */

.dialog-wrap {
  display: none;
}

.dialog-wrap::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-wrap {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding: 20px 20px 0 20px;
  max-width: 295px;
  align-items: center;
  gap: 20px;
}

.dialog-wrap[open] {
  display: flex;
  padding: 0;
  gap: 30px;
  flex-direction: column;
  padding: 30px;
}

.disket-wrap .button__text {text-transform: uppercase;font-family: var(--accent-font);font-size: var(--button-font-size);line-height: 150%;}

.disket-wrap .button__pic {
  width: 39px;
  height: 39px;
}
.disket-wrap .card__icon-button {
  width: 39px;
  height: 39px;
}

/* qweqweqweqweqweqweqweqweqweqweqweqweqwe */
@media (max-width: 1440px) {
  .card__image {
    height: 696px;
  }
}
@media (max-width: 375px) {
  .header {
    padding: 121px 16px;
  }

  .header__text {
    font-size: 14px;
  }

  .header__title {
    font-size: 49px;
  }

  .card__image {
    height: 371px;
  }

  .bottom__button-wrap {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .bottom__button-wrap .card__icon-button {
    margin: 0;
    padding-top: 3px;
  }

  .button__pic {
    height: 28px;
  }

  .modal-content {
    width: 90%;
  }

  .dialog-wrap[open] .modal-content {
    grid-template-columns: auto;
    /* Другие стили для адаптивности */
  }

  .dialog-wrap .card__disket-button {
    width: 261px;
  }
  
}
/* Задачи:
1. Анимации + состояние иконок + кнопок :
a. При наведении (+ для иконки)
b. При Табуляции
c. При нажатии 
d. При зажатии
e. Статус "Liked"
is-liked написать свойство для красного цвета.
----------------------------------------------

