/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: Inter-Variable;
    --accent-font: 'Press Start 2P';
    --wgt-text: 410;
    --wgt-accent: 715;
    --main-font-size: 18px;
    --button-font-size: 14px;
}